.Section3{
    margin-top: 100px;
    text-align: left;
    margin-left: 92px;
    margin-right: 92px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 5rem;
}

.pagination p{
    margin: 1rem;
}

.pagination button{
    padding: 0rem 1rem 0rem 1rem;
    border: none;
    background-color: #FF5601;
    color: white;
    font-weight: bold;
}


@media screen and (max-width: 980px){
    .Section3{
        margin-left: 65px !important;
        margin-right: 65px !important;
    }
}

.Section3_1_heading1{
    font-family: liberation-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FF5601;
}

.Section3_1_heading2{
    font-family: liberation-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    color: #131543;
}

.Section3_2{
    margin-top: 60px;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.Section3_2_card{
    font-family: liberation-sans;
    width: 30vw;
    border: 1px solid #EFEFEF;
    margin-top: 30px;
}

.Section3_2_info{
    padding: 27px 35px 26px 35px;
}

.Section3_2_heading1{
    margin: 0;
    font-family: liberation-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #131543;
}

/* @media screen and (max-width: 885px){
    .Section3_2_card{
        width: 100% !important;
    }
} */

@media  screen and (max-width: 580px){
    .Section3_2{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){
    .Section3_2_card{
        width: calc(100vw - 20px) !important;
    }

    .Section3{
        margin-top: 26px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .imageSize{
        width:100% !important;
    }
}


.imageSize{
    max-width: 100%;
    max-height: 100%;
}